[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
"psycopg2" = "*"
dj-database-url = "*"
whitenoise = "*"
spirit = {git = "https://github.com/almamater0/paraforo.git"}
Django = "*"

[dev-packages]

[requires]
python_version = "3.6"
