#barra_de_arriba{
    display: block;
    width: 100%;
    min-height: 11%;
    position: absolute;
    top: 0%;
    left: 0;
    padding: 12px;
    background-color: rgb(26, 83, 255);
    text-align: center;
    color:rgb(230,230,230);
}

#almamater{
    position:absolute; left:5%; 1px;
    font-family: Courier;
    color:rgb(255,255,255);
    font-weight:bold;
    font-size:32;
}

.celda_barra{
    color: rgb(255,255,255);
    position:relative;
    top: 19px;
    padding: 35px 30px 33px 30px; /* top right bottom left */
    font-size: 28;
    font-family: Courier;
    text-decoration: none;
    outline: 1px;
}

#areas{
    display:none;
    background-color: rgb(100,100,100);
    position:absolute;
    top:14.5%; left: 32.3%;
    min-height: 25%;
    width:20%;
    font-family: Courier;
    font-size: 24;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 15px;
}
li:last-child{
    margin-bottom:0px;

}

.celda_area{
    padding: 10px;
    outline: 1px;
    text-decoration: none;
    color:rgb(230,230,230);
    font-family: Courier;
    font-size: 24;
}

.grados{
    display:none;
    background-color: rgb(100,100,100);
    position:absolute;
    top:14.5%; left: 52.3%;
    min-height: 25%;
    width:20%;
    font-family: Courier;
    font-size: 24;
}

.celda_grados{
    padding: 10px;
    outline: 1px;
    text-decoration: none;
    color:rgb(230,230,230);
    font-family: Courier;
    font-size: 24;
    background-color: rgb(100, 100, 100);
}
