{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/plantilla_consejos_blogs.css' %}"> />
</head>

<body>
    <div id="titulo">
        <h1>¿Te sientes estresad@?</h1>
    </div>
    <div id="entrada"> <!-- la longitud de la entrada tiene que ajustarse al sitio que s ele ha dejado -->
        <p>ddddddddddddddddddd  dddddddddddddddddd   ;ddddddddddddddddddddddddddddddddd   ;dddddddddddddddddd   ;dddddddddddddddddd   ;dddddddddddddddddd   ;ddd   ;dddddddddddddddddd   ;dddddddddddddddddd   ;dddddddddddddddddd   ; ;ddd</p>
    </div>
    <div id="texto">
        <p>fddddddddddddddddddd   ;dddddddddddddddddd   ;dd  ;dddddddddddddddddd   ;dddddddddddddddd   ;dddddddddddddddddd   ;f</p>
    </div>
</body>

{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}