#cubrir{
    display: none;
    background-color: rgb(30,30,30, 0.8);
    z-index: 9;
    width: 100%;
    min-height: 100%;
    left: 0%;
    position: absolute; top: 0%; left:0%;
}
#barra_de_arriba{
    display: block;
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 2px solid rgb(180, 180, 180);
    font-family: "Vidaloka";
}
#icono{
    width: 40px;
    height: 40px;
    position: absolute; left: 100px; top: 15%;
}
#almamater{
    position:absolute; top:20%; left:150px; height: 100%;
    font-size: 25;
    font-weight: 300;
    font-family: "Vidaloka";
}
#enlaces{
    color: rgb(100,100,100);
    width: 50%;
    position: absolute;
    left: 50%;
    top: 25%;
}
#enlaces a{
    text-decoration: none;
    transition: color 1s;
    color: rgb(70,70,70);
    font-size: 20;
    cursor: pointer;
    padding-left: 13px; padding-right: 13px;
}
/* grados */
#atras_area{
    color: rgb(255,255,255,0.9);
    display: none;
    z-index: 10;
    text-align: center;
    font-size: 7vw;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 88%;
    cursor: pointer;
}
.area{
    display:none;
    z-index: 10;
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    text-align: center;
    font-size: 30;
    color: rgb(30,30,30);
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    border-radius: 50%;
}
.texto_area{
    position: absolute;
    top: 42%;
    width: 100%;
    text-align: center;
}
#area_sociales{
    position: absolute;
    top: 20%;
    left: 8%;
    background-color: #E4FF1F;
}
#area_tecnologico{
    position: absolute;
    top: 20%;
    left: 37.5%;
    background-color: #1FA4FF;
}
#area_biosanitario{
    position: absolute;
    top: 20%;
    left: 67%;
    background-color: #23FF1F;
}
.grados{
    display: none;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border-radius: 10%;
    overflow: auto;
}
#grados_sociales{
    background-color: #E4FF1F;
}
#grados_tecnologico{
    background-color: #1FA4FF;
}
#grados_biosanitario{
    background-color: #23FF1F;
}
.atras{
    display: none;
    z-index: 10;
    text-align: center;
    width: 6vw;
    height: 3vw;
    font-size: 60;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 85%;
    cursor: pointer;
}
#atras_sociales{
    color: #E4FF1F;
}
#atras_tecnologico{
    color: #1FA4FF;
}
#atras_biosanitario{
    color: #23FF1F;
}
.imagen_grados_div{
    width: 40%;
    height: 40%;
    display: inline-block;
    float: left;
    border-radius: 15%;
    padding: 2%;
    position: relative;
    left: 5%;
    top: 3%;
}
.imagen_grados{
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    border-radius: 15%;
} /*quedaria poner el overflow con una scrollbar bonita */
.texto_grados{
    width: 80%;
    position: absolute; left: 10%; top: 30%;
    text-align: center;
}
.imagen_grados_div a{
    display: block;
    width: 100%; height: 100%;

    position: absolute; left: 0%; top: 0%;
}
.texto_grados a{
    color: rgb(255,255,255);
    font-size: 30;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}
/*grados*/
#cuadro_falta{
    display:none;
    z-index: 10;
    border: 3px solid #4AD4D2;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    min-height: 70%; height: 80%;
    background-color: rgb(255,255,255);
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

textarea{
    resize: none;
    font-size: 17;
    width: 60%;
    height: 45%;
    border: 4px solid rgb(180,180,180);
    padding: 12px;
    font-family: "Noto Sans", sans-serif;
    text-align: justify;
    overflow: auto;
}
#email{
    width: 60%;
    height: 8%;
    border: 4px solid rgb(180,180,180);
    padding-left: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 17;
}
.button1{
    width: 30%;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #727272;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Noto Sans',sans-serif;
    font-weight:300;
    font-size: 22;
    color: #3E3E3E;
    text-align:center;
    transition: all 0.4s;
    background-color:
    cursor: pointer;
}
.button1:hover{
    cursor: pointer;
    color:rgb(255,255,255);
    background-color:#727272;
}
#close_comentario_falta{
    position: absolute;
    right: 0.5%;
    top:0.5%;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.inline_block{
    display: inline-block;
    vertical-align: top;
    font-size: 22;
    width: 31%;
}
#menu_movil{
    display: none;
}
#container{
    display: none;
}


@media only screen and (max-device-width: 600px) {
    #barra_de_arriba{
        height: 8%; min-height: 8%;
    }
    #almamater{
        font-size: 70;
    }
    #barra_de_arriba p{
        display:none;
    }
    #cuadro_izquierda{
        width: 80%;
        position: absolute;
        top: 10%; left: 30%;
        height: 45%; min-height: 45%;
    }
    #container {
        display: inline-block;
        cursor: pointer;
        position: absolute; right: 1%; top:2%;
    }
    .bar1, .bar2, .bar3 {
        width: 84px;
        height: 12px;
        background-color: #333;
        margin: 6px 0;
    }
    #menu_movil{
        display: none;
        z-index: 3;
        position: absolute;
        top: 15%; left: 10%;
        width: 80%;
        height: 60%; min-height: 60%;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(0, 71, 179);
        box-shadow: 0px 0px 2px rgb(0, 71, 179) inset;
        transition: 0.4s;
    }
    #menu_movil li a{
        color: rgb(0, 71, 179);
        text-decoration: none;
        text-align: center;
        font-size: 55;
        font-weight: bold;
    }
    #menu_movil ul{
        position: absolute;
        left:10%;
        width: 80%;
        top: 10%;
    }
    #menu_movil li{
        padding-bottom: 15%;
    }
    #menu_movil li:last child{
        padding-bottom: 0%;
    }
    #lista_grados{
        width: 80%;
        position: absolute;
        top: 10%; left: 10%;
        height: 80%; min-height: 80%;
        overflow: auto;
    }
    .inline_block{
        display: block;
        width: 80%;
        position: relative; left: 10%; top: 5%;
        font-size: 40;
    }
    #lista_grados h2{
        font-size: 45;
        text-align: center;
        color: rgb(0, 71, 179);
    }
    #cuadro_falta{
        width: 90%;
        position: absolute; top: 15%; left: 5%;
        min-height: 70%; height: 70%;
    }
    .close {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 64px;
      height: 64px;
      opacity: 0.3;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 66px;
      width: 4px;
      background-color: #333;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    #close_lista_grados{
        position: absolute;
        right: 1%;
        top:1%;
    }
    #close_comentario_falta{
        position: absolute;
        right: 0.3%;
        top:0.5%;
    }
    #close_menu_movil{
    }
    #cuadro_falta h2{
        font-size: 40;
        width: 100%;
    }
    textarea{
        font-size: 40;
        width: 80%;
        height: 60%;
        text-align: justify;
    }
    button{
        width: 50%;
        font-size: 40;
        height: 7%;
    }
}