{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}

{% load static %}
<head>    <!-- solucionar esto, en ez de fisica, poner {{grado}} y que funcione -->
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/plantilla_grados.css' %}">
</head>

<body>
    <div id="titulo">
        <h1>Física</h1>
    </div>
    <div id="listado_universidades">
        <ul>
            <li><a class="universidad" href="/">Universidad Complutense</a></li>
            <li><a class="universidad" href="/">Universidad Autónoma de Madrid</a></li>
            <li><a class="universidad" href="/">Universidad de Alcalá de Henares</a></li>
            <li><a class="universidad" href="/">Universidad Carlos III</a></li>
            <li><a class="universidad" href="/">Universidad Juan Carlos I</a></li>
            <li><a class="universidad" href="/">Universidad Francisco de Vitoria</a></li>
        </ul>
    </div>
    <div id="notas_de_corte" class="grafico">
        <img class="imagen_grafico" id="imagen_notas_de_corte" src="{% static 'principal/images/fisica/notas_de_corte_fisica.png' %}"/>
    </div>
    <div id="ranking" class="grafico">
        <p>ffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffff
            ffffffffffffffffffffffffffffffff</p>
    </div>
    <div id="ects" class="grafico">
        <img class="imagen_grafico" src="{% static 'principal/images/fisica/ects_fisica.png' %}"/>
    </div>
    <div id="egresados" class="grafico">
        <img class="imagen_grafico" src="{% static 'principal/images/fisica/egresados_fisica.png' %}"/>
    </div>
</body>

{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}