{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}

{% load static %}
<head>    <!-- solucionar esto, en ez de fisica, poner {{grado}} y que funcione -->
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/plantilla_grados.css' %}">
</head>

<body>
    <div id="titulo">
        <h1>FÍSICA</h1>
    </div>
    <div id="listado_universidades">
        <ul>
            <li><a class="universidad" href="/grados/fisica/complutense">Universidad Complutense</a></li>
            <li><a class="universidad" href="/grados/fisica/autonoma">Universidad Autónoma de Madrid</a></li>
            <li><a class="universidad" href="/grados/fisica/alcala">Universidad de Alcalá de Henares</a></li>
            <li><a class="universidad" href="/grados/fisica/carlos_iii">Universidad Carlos III</a></li>
            <li><a class="universidad" href="/grados/fisica/juan_carlos">Universidad Juan Carlos I</a></li>
            <li><a class="universidad" href="/grados/fisica/francisco_vitoria">Universidad Francisco de Vitoria</a></li>
        </ul>
    </div>
    <div id="notas_de_corte" class="grafico">
        <h2>Notas de corte</h2>
        <img class="imagen_grafico" src="{% static 'principal/images/fisica/notas_de_corte_fisica.png' %}">
        <!-- En notas de corte no hay texto -->
    </div>
    <div id="informacion">
        <div id="ranking" class="grafico inline-block">
            <h2>Ranking</h2>
            <p>ffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffff
                fffffffffffffffffff
                ffffffffffffffffffffffffffffffff</p>
        </div> <br> <br>
        <div id="ects" class="grafico inline-block">
            <h2>Créditos</h2>
            <img class="imagen_grafico" src="{% static 'principal/images/fisica/notas_de_corte_fisica.png' %}">
            <p>la Comisiónto</p>
        </div> <br><br>
        <div id="egresados" class="grafico inline-block">
            <h2>Graduados</h2>
            <img class="imagen_grafico" src="{% static 'principal/images/fisica/notas_de_corte_fisica.png' %}">
            <p>Whateever</p>
        </div>
        <div id="footer">
            <p>Proyecto Alma Mater</p>
        </div>
    </div>
</body>

{%endblock%}

{% block barra_de_abajo %}
{{block.super}}
{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}