{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'almamater0/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
</head>

<body>
        {% block barra_de_arriba %}
        <div id="barra_de_arriba">
            <h1 id="almamater"><a style="color: rgb(255,255,255); text-decoration:none;" href="/">AlmaMater </a></h1>
            <a class="celda_barra cambiar_color2" id="grados_celda">Grados</a>
            <a class="celda_barra cambiar_color2" href="/contacto">Contacto</a>
            <a class="celda_barra cambiar_color2" href="/animo">Ánimo</a>
            <a id="falta_algo" class="celda_barra cambiar_color2">¿Falta algo?</a>
        </div>
        <div id="areas" class="mantener_show">
        <ul>
            <div id="sociales_div" class="celda_area_div"><li><a class="celda_area cambiar_color" id="sociales">Sociales</a></li></div>
            <div id="tecnologico_div" class="celda_area_div"><li><a class="celda_area cambiar_color" id="tecnologico">Tecnológico</a></li></div>
            <div id="biosanitario_div" class="celda_area_div"><li><a class="celda_area cambiar_color" id="biosanitario">Biosanitario</a></li></div>
        </ul>
        </div>

        <div id="cuadro_falta">
            <h2>¿Echas en falta algo en la página? ¿Tienes alguna sugerencia? Cuéntanos.</h2> <br>
            <form action="/comentario" method="POST">
                {% csrf_token %}
                <textarea name="comentario_falta" rows="10" cols="80"></textarea> <br> <br>
                <button id="button_cierre">Cerrar</button>
                <button type="submit">Enviar mensaje</button>
            </form>
            <a class="close" id="close_lista_grados"></a>
        </div>
        {% endblock %}

{%block content%}
{%endblock%}

</body>

{% block script %}
<script>
    $(document).ready(function(){
        $('.cambiar_color2').hover(function(){
            $(this).css("background-color","rgb(100,100,100)")},
            function(){
            $(this).css("background-color", "2F2FA2")})
        $('.cambiar_color').hover(function(){
            $(this).css("background-color", "rgb(90,90,90)")},
            function(){
            $(this).css("background-color", "rgb(100,100,100)")})
        $('#falta_algo').click(function(){
            $('#cuadro_falta').show()
        })
    })
</script>
{%endblock%}