{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/contacto.css' %}">
</head>

<body>
    <div id="titulo">
        <p>Te dejamos una lista de contactos de <a style="text-decoration: none; color: solid black;" href="#universidades">universidades</a>, <a style="text-decoration: none; color: solid black;" href="#estudiantes">estudiantes</a> y con
        <a style="text-decoration: none; color: solid black;" href="#nosotros">nosotros</a>, por si quieres escribir alguna entrada para dar consejos, tienes información adicional...</p>
    </div>
    <div id="texto">
        <h2 id="universidades">Universidades:</h2>
        <ul>
            <li>Universidad Complutense: 919919199</li>
            <li>U</li>
            <li>U</li>
            <li>U</li>
            <li>U</li>
        </ul>
        <h2 id="estudiantes">Antiguos alumnos y asociaciones:</h2>
        <ul>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
        </ul>
        <h2 id="nosotros">Nosotros:</h2> <ul><li>almamater.contacto@gmail.com</li></ul>
        <br><br>
        <div id="footer">
            <p>Proyecto Alma Mater</p>
        </div>
    </div>
</body>

{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}