{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/inicio.css' %}" />
</head>


<body>
    <div id="m">
        <p>En este cuadro vendría el texto en el que explicaríamos el estado del proyecto, la función que realiza, etc.
        Necesitamos pensar cómo vamos a presentar la página... (luego te digo)</p>
    </div>



</body>

<script>
$(document).ready(function(){


});

</script>


{%endblock%}

{%block script%}
{%endblock%}