{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/manageerror.css' %}">
</head>

<body>
    <div id="error">
        <p>¡Vaya! Parece que ha ocurrido un error. Inténtelo más tarde y, si el error persiste, mándenos un aviso a almamater0.contacto@gmail.com</p>
    </div>

</body>

{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}