{% extends "almamater0/base.html" %}
{% block barra_de_arriba %}
{{block.super}}
{%endblock%}

{%block content%}

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'principal/plantilla_universidades.css' %}"> />
</head>

<body>
    <div id="titulo">
        <h1>Física en la Autónoma de Madrid</h1>
    </div>
    <div id="indice" class="border">
        <h3>Hemos recopilado la información que nos parecía más importante. Si te quedan preguntas sin responder, no dudes en
            preguntarnos pinchando en la pestaña de arriba.</h3> <br>
        <ul>
            <li><a style="color:solid black" class="index" href="#asignatura">Asignatura: programa de estudios, política de asistencia y suspenso, prácticas...</a></li>
            <li><a class="index" href="#profesorado_investigacion">Profesorado e investigación.</a></li>
            <li><a class="index" href="#salidas_salarios">Salidas laborales y salarios.</a></li>
            <li><a class="index" href="#erasmus">Posibilidad de viajes al extranjero (Erasmus).</a></li>
            <li><a class="index" href="#comentarios">Comentarios de antiguos alumnos.</a></li>
            <li><a class="index" href="#nuevos_alumnos">¿Entras en 2018?</a></li>
        </ul>
    </div>
    <div id="imagen_universidad_div" class="border">
        <img id="imagen_universidad" src="{% static 'principal/images/universidades/autonoma.jpg' %}">
    </div>
    <div id="texto">
        <div class="border">
            <h2>Asignatura:</h2> <br>
            <p id="asignatura">hgweee hgweee hgweee hgweee hgweeehgweee hgweee heehgweee hweee  hgweeehgweeehgweeehgweee</p>
        </div><br>
        <div class="border">
            <h2>Profesorado e investigación:</h2> <br>
            <p id="profesorado_investigacion">thrthrthrth</p>
        </div><br>
        <div class="border">
            <h2>Salidas laborales y salarios:</h2> <br>
            <p id="salidas_salarios">rthrthrh</p>
        </div><br>
        <div class="border">
            <h2>Posibilidad de viajes al extranjero:</h2> <br>
            <p id="erasmus">trhrthr</p>
        </div> <br>
        <div class="border">
            <h2>Comentarios de antiguos alumnos:</h2> <br>
            <p id="comentarios"></p>
        </div> <br>
        <div class="border">
            <h2>¿Entras en 2018?</h2> <br>
            <p id="nuevos_alumnos">Grupo de IG, Whatsapp, gente con coche, quedadas, info específica..</p>
        </div> <br> <br>
        <div id="footer">
            <p>Proyecto Alma Mater</p>
        </div>
    </div>
</body>

{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}