#nombreh4{
    color:rgb(255,255,255);
    font-size: 30px;
}
.nombre{
    float: right;
    position: relative;
    left: 10px;
}
#nombreh5{
    display: none;
    color: rgb(255,255,255);
    font-size: 20px;
}

@media (max-width: 600px){
    #nombreh4{
        display: none;
    }
    #nombreh5{
        display: block;
    }
}
