#nombredesktop{
    color:rgb(255,255,255);
    font-size: 30px;
    font-weight: bold;
    position: relative; top: 12px;
}
.nombre{
    float: right;
    position: relative;
    left: 10px;
}
#nombremovil{
    display: none;
    color: rgb(255,255,255);
    font-size: 25px;
    font-weight: bold;
}
#logoalmamatermovil{
    display: none;
}
@media (max-width: 600px){
    #nombredesktop{
        display: none;
    }
    #nombremovil{
        display: block;
    }
    #logoalmamatermovil{
        display: block;
    }
    #logoalmamater{
        display: none;
    }
}
