#nombreh{
    color:rgb(255,255,255);
    font-size: 30px;

}
#nombre{
    float: right;
    position: relative;
    left: 10px;
}
@media (max-width: 600px){
    #nombreh{
        font-size: 200px;
    }
}
