.texto_imagen{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    font-size: 40;
    color: rgb(255,255,255);
    font-size: 40px;
    font-weight: bold;
}
.darken{
    filter: brightness(60%);
}