.ajustar_height{
    height: 90%;
    min-height: 90%;
}
#indice{
    position: relative;
    left: 35%;
    width: 65%;
    text-align: justify;
    font-size: 30;
}
@media only screen and (max-device-width: 600px){
    #indice{
        position: relative;
        left: 10%;
        width: 90%;
        text-align: left;
        font-size: 20;
    }
}