#titulo{
    position: absolute;
    top: 16%; left: 9%;
    font-family: Arial;
    font-size: 35;
}
h2{
    text-align: center;
    font-size: 24;
}
#listado_universidades{
    position: absolute;
    top: 38%;
    left: 10%;
}
.universidad{
    text-decoration: none;     /*utilizar mas el relative */
    font-family:Arial;
    font-size:23;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 15px;
}
li: last child{
    margin-bottom: 0px;
}
#notas_de_corte{
    position: absolute;
    top: 25%; left: 50%;
    width: 40%; height: 55%; min-height: 55%;
}
.grafico{
    border: 2px solid black;
    width: 70%;
}

#ranking{
    position: absolute;
    top: 95%; left: 10%;
    width: 80%; min-height: 30%; height: 30%;
}
#ects{
    position: absolute;
    top: 130%; left: 10%;
    width: 80%; min-height: 30%; height: 30%;
}
#egresados{
    position: absolute;
    top: 165%; left: 10%;
    width: 80%; min-height: 30%; height: 30%;
}