#titulo{
    position: absolute;
    top: 16%; left: 9%;
    font-family: Arial;
    font-size: 35;
}
#listado_universidades{
    position: absolute;
    top: 33%;
    left: 10%;
}
.universidad{
    text-decoration: none;
    color: solid black;     /*utilizar mas el relative */
    font-family:Arial;
    font-size:23;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 15px;
}
li: last child{
    margin-bottom: 0px;
}
#imagen_notas_de_corte{
    width:30%;
    height: 20%; min-height:20%;
}
.imagen_grafico{
    width: 60%;
    height: 40%; min-height: 40%;
}